@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --light-yellow: #f1ece6;
  --white: #f3f3f3;
  --gray: #969696;
  --blue: #76b7cd;
  --orange: #d98326;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  color: var(--orange);
}

.material-symbols-outlined:hover {
  cursor: pointer;
  font-variation-settings: 'wght' 700, 'opsz' 24;
}
