.text-input input {
  width: 100%;
  background-color: var(--light-yellow);
  border: none;
  border-radius: 50px;
  padding: 1rem 0.8rem;
}

.text-input input::placeholder {
  font-size: 1.2rem;
  color: var(--gray);
  transform: translateY(3px);
}
