.todo-list-item {
  display: flex;
  align-items: center;
  padding: 1rem 0.8rem;
}
.todo-list-item li {
  list-style: none;
  border-bottom: 1px solid var(--blue);
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-item-end {
  font-size: 0.8rem;
  color: var(--gray);
}

.todo-list-item-end .material-symbols-outlined {
  margin-left: 0.5rem;
  color: var(--orange);
}

.todo-list-item input {
  background-color: var(--light-yellow);
  border: none;
  font-size: 1rem;
  color: var(--gray);
  height: 2rem;
}
